@charset "ISO-8859-1";
.auto-style1 {
	text-align: center;
	background-color: #C0C0C0;
}
.auto-style2 {
	background-color: #C0C0C0;
}
.auto-style4 {
	cursor: pointer;
	color: #808080;
	text-align: left;
	border: 1px solid #FFFFFF;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
	border-radius: 5px;
}
.auto-style5 {
	border: 1px solid #FFFFFF;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.auto-style6 {
	border: 1px solid #808080;
}
.auto-style7 {
	text-align: left;
}
.auto-style8 {
	text-align: right;
}
.auto-style9 {
	border: 0 solid #808080;
}
.auto-style10 {
	color: #FFFFFF;
	background-color: #C0C0C0;
	text-align: left;
	border: 1px solid #FFFFFF;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
	border-radius: 5px;
}
.auto-style11 {
	cursor: pointer;
	width: 15%;
	vertical-align: middle;
	text-align: center;
	background-color: #3a9e05;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: lighter;
	color: white;
	border-radius: 5px;
}
.auto-style12 {
	width: 8%;
	text-align: center;
	background-color: #808080;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: lighter;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}

.auto-style13 {
	width: 8%;
	text-align: center;
	background-color: #C0C0C0;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: lighter;
	color: white;
}

.marco_button{
	
	border-radius: 5px;
	border: 2px solid green;
	background: green;
	color: white;
}

.texto{

	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: gray;
	font-weight: bold;
	vertical-align: top;
}

.marco_texto{
	
	width: 100%;
	height: 100% ;
	border-radius: 5px;
	border: 2px solid #3a9e05;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.marco_opciones{
	
	border-radius: 5px;
	border: 2px solid #3a9e05;
	
}

.marco_fecha{
	
	border-radius: 5px;
	border: 2px solid gray;
	
}

.marco_button{
	
	border-radius: 5px;
	border: 2px solid green;
	background: green;
	color: white;
}
